* {
    margin: 0;
    padding: 0;

    font-family: Roboto;
}

:root {
    --mint-cream: 239, 246, 238;
    --prussian-blue: 39, 48, 67;
    --moonstone: 66, 158, 166;
    --imperial-red: 240, 45, 58;
}
